.header {
    /* The image used */
    /* background-image: url(../../assets/images/header-background.jpg); */

    /* Full height */
    height: 100vh; 
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}